main {
  color: white;
  width: 80%;
  h2 {
    font-size: 120%;
  }
  p {
    font-style: normal;
    font-weight: 300;
    font-size: 90%;
    margin-bottom: 1rem;
  }
  a {
    display: block;
    text-align: center;
    color: white;
    width: 85%;
    padding: 5% 8%;
    background-color: #2850d1;
    border-radius: 4px 16px;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.2s ease-in;
    &:hover {
      background-color: #fff;
      color: #2850d1;
    }
  }
}
