a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  margin-bottom: 1.5%;
}

ul {
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 1%;
}
