<a href="#inicio"
  ><img
    src="/assets/img/itix-logo-extenso.svg"
    alt="Logo da Itixti sendo ele o nome Itix escrito em branco e maiúsculo"
/></a>
<section>
  <ul>
    <li>
      Rua Eugênio Netto, 223<br />
      Praia do Canto, Vitória<br />
      ES - Brasil
    </li>
    <li>+55 (27) 3029-9953</li>
    <li>contato@itixti.com.br</li>
  </ul>
</section>
