<main>
  <div>
    <h1>Contato</h1>
    <p>Se precisar de alguma informação adicional, sinta-se à vontade para falar com a gente ;)</p>
  </div>
  <section>
    <app-form></app-form>
  </section>
</main>
