main {
  background-color: #2850d1;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  div,
  section {
    width: 80%;
  }
  div {
    margin-bottom: 6%;
    color: #fff;
    text-align: end;
  }
  section {
    border-radius: 16px 48px;
    background-color: #fff;
    padding-bottom: 1em;
  }
}
