<nav id="inicio">
  <img src="assets/img/itix-logo.svg" alt="Logo da Itix representado por um x" />
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/contato">Contato</a></li>
  </ul>
</nav>
