nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 0.5em;
  height: 4em;
  background: linear-gradient(90deg, rgba(40, 80, 209, 1) 100%, rgba(46, 89, 226, 1) 100%);
  img {
    width: 4%;
    padding-left: 1em;
  }
  ul {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    font-size: 120%;
    a {
      padding: 4px 8px;
      color: #fff;
      -webkit-transition: 0.2s ease-in;
      -moz-transition: 0.2s ease-in;
      -o-transition: 0.5s ease-in;
      transition: 0.2s ease-in;
      &:hover {
        background-color: #fff;
        color: #2850d1;
        border-radius: 4px 16px;
      }
    }
  }
}
