div {
  width: 85%;
  margin: auto;
  min-height: 91vh;
  section:first-child {
    padding-top: 2%;
    margin-bottom: 2%;
    h1 {
      font-size: 180%;
    }
    p {
      color: #999999;
    }
  }
  section:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    width: 100%;
    app-card {
      width: 24%;
      height: 380px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('/assets/img/codigo.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 2%;
      margin-bottom: 2%;
    }
  }
}
