<div>
  <section>
    <h1>Oportunidades para você!</h1>
    <p class="subtitulo">
      Dê uma olhada nas vagas que temos disponíveis e venha trabalhar com a gente ;D
    </p>
  </section>
  <section>
    <app-card *ngFor="let vaga of cards" [vaga]="vaga"></app-card>
  </section>
</div>
