<form>
  <section class="primeiraLinha">
    <div>
      <label for="nome">Nome*</label>
      <input type="text" name="nome" placeholder="Informe seu nome" required />
    </div>
    <div>
      <label for="sobrenome">Sobrenome</label>
      <input type="text" name="sobrenome" placeholder="Informe seu sobrenome" />
    </div>
  </section>
  <section class="segundaLinha">
    <div>
      <label for="email">Email*</label>
      <input type="email" name="email" placeholder="Informe seu email" required />
    </div>
    <div>
      <label for="telefone">Telefone</label>
      <input type="text" name="telefone" placeholder="Informe seu telefone" />
    </div>
  </section>
  <section class="terceiraLinha">
    <div>
      <label for="mensagem">Mensagem*</label>
      <textarea
        name="mensagem"
        rows="1"
        placeholder="Manda aí a sua mensagem pra gente ;)"
        required
      ></textarea>
    </div>
  </section>
  <input type="submit" value="Enviar Mensagem" />
</form>
