form {
  padding: 3% 3% 0 3%;
  section {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: row;
    margin-bottom: 1em;
    gap: 1em;
    div {
      display: block;
    }
  }
}

.primeiraLinha > div,
.segundaLinha > div {
  width: 50%;
}
.terceiraLinha > div {
  width: 100%;
}

input[type='text'],
input[type='email'] {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #2850d1;
  cursor: pointer;
}

textarea {
  resize: none;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #2850d1;
  cursor: pointer;
}

input[type='submit'] {
  text-align: center;
  border: 0.5px solid #fff;
  color: #fff;
  padding: 1% 3%;
  background-color: #2850d1;
  border-radius: 4px 16px;
  display: flex;
  margin-left: auto;
  margin-right: 3%;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.2s ease-in;
  &:hover {
    background-color: #fff;
    color: #2850d1;
    border: 0.5px solid #2850d1;
  }
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-bottom: 2px solid #2850d1;
  outline: 0;
}
